.health{
    width: 240px;
    height: 31px;    
    padding: 9px 11px;
    color: var(--Dark-Navy, #261676);
    background-color: white;
    border-radius: 96px;
}

.health_bar{
    height: 13px;
    border-radius: 96px;
    background-color: var(--Dark-Navy, #261676);
}

.healthBar{
    padding: 9px 11px;
    color: var(--Dark-Navy, #261676);
    background-color: white;
    width: 240px;
    height: 31px;
    border-radius: 96px;
}

.healthBar::-moz-progress-bar {
    border-radius: 96px;
    background-color: transparent;
}

.healthBar::-webkit-progress-bar{
    background-color: transparent;
}

.healthBar::-webkit-progress-value {
    border-radius: 96px;
    background-color: var(--Dark-Navy, #261676);
}

@media(max-width: 860px){
    .healthBar{
        width: 160px;
        height: 31px;
    }

    .health{
        width: 160px;
    }
}

@media(max-width: 620px){
    .healthBar{
        width: 57px;
        height: 16px;
        padding: 4px;
    }

    .health{
        width: 57px;
        height: 16px;
        padding: 4px;
    }

    .health_bar{
        height: 8px;
    }
}