.header{
    width: 1216px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 88px auto;
}

.header_content{
    display: flex;
    align-items: center;
}

.header_content:nth-of-type(1){
    gap: 57px;
}

.header_content:nth-of-type(2){
    gap: 40px;
}

.header_title{
    color: var(--White, #FFF);
    text-align: center;
    font-family: var(--font);
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 105.6px */
    margin: 0px;
    text-transform: uppercase;
}


.header_heart{
    width: 53.333px;
    height: 48.933px;
}

@media(max-width: 1260px){
    .header{
        width: 90%;    
    }
}

@media(max-width: 920px){
    .header_content:nth-of-type(1){
        gap: 32px;
    }
    
    .header_content:nth-of-type(2){
        gap: 20px;
    }
    
}

@media(max-width: 860px){
    .header{
        margin: 0px auto 111px auto;
    }
    .header_title{
        font-size: 3rem;
    }

    .header_content:nth-of-type(2){
        gap: 40px;
    }
}

@media(max-width: 620px){
    .header{
        margin: 0px auto 78px auto;
    }

    .header_content:nth-of-type(1), 
    .header_content:nth-of-type(2){
        gap: 16px;
    }

    .header_title{
        text-transform: initial;
        font-size: 2.5rem;
    }

    .header_heart{
        width: 26px;
        height: 24px;
    }
}