@font-face {
    font-family: 'mouse memoirs';
    src: url('/public/fonts/MouseMemoirs-Regular.ttf');
}

:root{
    --font: 'mouse memoirs';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 0
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear;
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url('/public/images/background-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: none;
}

body::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    content: 
        url('/public/images/background-desktop.svg')
        url('/public/images/background-tablet.svg')
        url('/public/images/background-mobile.svg')

}

@media(max-width: 860px){
    body{
        background-image: url('/public/images/background-tablet.svg');
    }
}

@media(max-width: 620px){
    body{
        background-image: url('/public/images/background-mobile.svg')
    }
}